.container {
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
padding: 0 100px;
border-bottom: 1px solid #3d5a23;
  }
.container p{
    font-size: 3rem;
    color: #3d5a23;
}
.container-products{
border-radius: 90px;
}